node_modules
dist
.tmp
.sass-cache
app/bower_components
/nbproject/private/
/nbproject
wakandaApp.json

app/scripts/services/angular-wakanda-connector/angular-wakanda-connector.debug.min.js

app/scripts/services/angular-wakanda-connector/angular-wakanda-connector.debug.min.js.map
