node_modules
dist
.tmp
.sass-cache
app/bower_components
app/scripts/services/angular-wakanda/publish
app/scripts/services/angular-wakanda/publish.zip
/nbproject/private/
/nbproject
wakandaApp.json

WakandaBaseSolution/Contacts/Contacts Solution/breakpoints.json
WakandaBaseSolution/Contacts/Contacts Solution/*.waPreferences
WakandaBaseSolution/Contacts/Contacts Solution/*.cacheUAG
WakandaBaseSolution/Contacts/Contacts Solution/Logs/*.txt
WakandaBaseSolution/Contacts/Contacts/DataFolder/*
WakandaBaseSolution/Contacts/Contacts/Logs/*
WakandaBaseSolution/Contacts/Contacts/*.Match
WakandaBaseSolution/Contacts/Contacts/*.waSym
WakandaBaseSolution/Contacts/Contacts/*.waSymData
!WakandaBaseSolution/Contacts/Contacts/WebFolder/index.html
!WakandaBaseSolution/Contacts/Contacts/WebFolder/.htaccess
WakandaBaseSolution/Contacts/Contacts/WebFolder/*
npm-debug.log
/published-connector/