node_modules
dist
.tmp
.sass-cache
app/bower_components
/nbproject/private/
/nbproject
wakandaApp.json

WakandaBaseSolution/Contacts/Contacts Solution/breakpoints.json
WakandaBaseSolution/Contacts/Contacts Solution/*.waPreferences
WakandaBaseSolution/Contacts/Contacts Solution/*.cacheUAG
WakandaBaseSolution/Contacts/Contacts Solution/Logs/*.txt
WakandaBaseSolution/Contacts/Contacts/DataFolder/*
WakandaBaseSolution/Contacts/Contacts/Logs/*
WakandaBaseSolution/Contacts/Contacts/*.Match
WakandaBaseSolution/Contacts/Contacts/*.waSym
WakandaBaseSolution/Contacts/Contacts/*.waSymData