<h3 ng-click="toggleBody()" id="db-state-title">DB Manager <span ng-show="collapsed">&#8595;</span><span ng-show="!collapsed">&#8593;</span></h3>
<div ng-show="!collapsed" id="db-state-body">
  <div ng-show="dbState">
    <ul>
      <li ng-repeat="(tableName,totalCount) in dbState">{{tableName}} : <span id='count-{{tableName}}'>{{totalCount}}</span></li>
    </ul>
    <p>You can do the following from here (those are also used in unit testing). <strong>If you launch this project for the first time, you should fill the db with resetDb</strong></p>
    <p><label><input type="checkbox" ng-model="async">Async mode</label> <img src="./images/ajax-loader.gif" ng-show="loading"></p>
    <ul>
      <li ng-click="refreshState()" id="db-state-action-refresh-state-db">Refresh db state (no insert, no delete, just to know what's in the db)</li>
      <li ng-click="initDb()" id="db-state-action-init-db">Reset db</lI>
      <li ng-click="flushDb()" id="db-state-action-flush-db">Flush db</lI>
    </ul>
  </div>
  <div ng-show="!dbState">
    <p class="error">It seems your wakanda server isn't up, check if you started it.</p>
  </div>
  <pre style="width:100%;overflow-y:scroll;max-height:120px;">{{log}}</pre>
</div>