<h3 ng-click="toggleBody()" id="directory-state-title">Directory Manager <span ng-show="collapsed">&#8595;</span><span ng-show="!collapsed">&#8593;</span></h3>
<div ng-show="!collapsed" id="directory-state-body">
  <p>This is a helper to manage the directory directly via REST request (not via the connector), it's meant to be used in test context, when you don't want to rely on the connector</p>
  <ul>
    <li class="current-user" ng-click="currentUser()"><span><code>currentUser()</code></span></li>
    <li class="logout" ng-click="logout()"><span><code>logout()</code></span></li>
  </ul>
  <p><label><input type="checkbox" ng-model="async">Async mode</label> <img src="./images/ajax-loader.gif" ng-show="loading"></p>
  <h4>Current user</h4>
  <pre class="current-logged-in-user">{{currentLoggedInUser | json}}</pre>
</div>