<div class="view-brut-vanilla-ds" ng-cloak>
  <h3>Brut - Vanilla ds 2</h3>
  <div db-state init-async="false" init-collapsed="true" change-callback="init()"></div>
  <p>This controller does executes "vanilla" DataProvider coded methods (not via the connector), the purpose is for testing behaviors between the Dataprovider and the Connector</p>
  <p>This is the second vanilla ds - this one specifically targets DataProvider's caching behavior.</p>
  <p>Open your console.</p>
  <ol>
    <li ng-click="finiteLoopForEachInCache()">finiteLoopForEachInCache() - loop on loaded elements with the forEachInCache</li>
<!--    <li ng-click="fetch()">fetch() (fetches 10 entities starting at 50) - <code>employeeResult.getEntities(50,10);</code></li>
    <li ng-click="test()">test()</li>-->
  </ol>
</div>