<div ng-class="{'view-e2e-tests-directory' : !standAlone, 'view-e2e-tests-directory-stand-alone' : standAlone}" ng-cloak>
  <h3 ng-if="!standAlone">E2E Tests - Directory</h3>
  <h3 ng-if="standAlone">E2E Tests - Directory (Stand Alone)</h3>
  <div db-state init-async="false" init-collapsed="true" change-callback="init()" ng-if="!standAlone"></div>
  <div directory-state init-async="false" init-collapsed="true" change-callback="init()"></div>
  <div>
    <h3>Employees list - <span ng-show="!standAlone">retrieved from DB</span><span ng-show="standAlone">plain list (not from DB)</span></h3>
    <p ng-show="standAlone">
      This list of employees was <strong>not retrieved from db</strong>, it's a simple mock.<br>
      So there was <strong>no previous connection to datastore</strong> before accessing to the directory API. (the wakConnector was not included to the routeResolver).<br>
      You can check the network, there was not call to $catalog or anything.<br>
      You can try with a real list <a ng-href="/#/e2e-tests/directory">with this page</a>.
    </p>
    <p ng-show="!standAlone">
      This list of employees was <strong>retrieved from db</strong>.<br>
      So there was a <strong>previous connection to datastore</strong> before accessing directory API. (the wakConnector was included to the routeResolver).<br>
      If you want to try accessing directory without previous call to $catalog, <a ng-href="/#/e2e-tests/directory-stand-alone">try this page</a>.
    </p>
    <ul class="employees-list">
      <li ng-repeat="employee in employees" ng-click="login(employee)"><span class="last-name">{{employee.lastName}}</span>, <span class="first-name">{{employee.firstName}}</span> - <span class="salary">{{employee.salary | currency}}</span> - <span class="employer-name" title="Select this company" ng-click="selectCompany(employee.employer)">{{employee.employer.name}}</span></li>
    </ul>
    <nav ng-show="employees.length && !standAlone">
      <span ng-click="employees.$prevPage()">&#8592;</span>&nbsp;<span ng-click="employees.$nextPage()">&#8594;</span>
    </nav>
    <div class="logged-in" ng-show="loggedInEmployee">
      <p>Successfull logging for <span class="last-name">{{loggedInEmployee.lastName}}</span>, <span class="first-name">{{loggedInEmployee.firstName}}</span> - <span class="logout" ng-click="logout()"><code>directory.$logout()</code></span> - <span class="current-user" ng-click="currentUser()"><code>directory.$currentUser()</code></span></p>
      <ul>
        <li ng-click="currentUserBelongsTo('Admin')" class="belongs-to-admin">Check if <code>directory.$currentUserBelongsTo("Admin")</code> : <span class="result-belongs-to">{{userBelongsTo.Admin}}</span></li>
        <li ng-click="currentUserBelongsTo('Employee')" class="belongs-to-employee">Check if <code>directory.$currentUserBelongsTo("Employee")</code> : <span class="result-belongs-to">{{userBelongsTo.Employee}}</span></li>
        <li ng-click="currentUserBelongsTo('Foo')" class="belongs-to-foo">Check if <code>directory.$currentUserBelongsTo("Foo")</code> : <span class="result-belongs-to">{{userBelongsTo.Foo}}</span></li>
      </ul>
      <h4>Current user</h4>
      <pre class="current-logged-in-user">{{currentLoggedInUser | json}}</pre>
    </div>
    <div class="logged-in-error error" ng-show="loggedInError" >
      {{loggedInError}}
    </div>
  </div>
</div>