<div id="view-e2e-tests-first-draft" ng-cloak>
  <h3>E2E Tests - First draft</h3>
  <div db-state init-async="false" init-collapsed="true" change-callback="init()"></div>
  <div ng-if="employees.length > 0">
    <h3>Employees list</h3>
    <ul class="employees-list">
      <li ng-repeat="employee in employees"><span class="last-name">{{employee.lastName}}</span>, <span class="first-name">{{employee.firstName}}</span> - <span class="salary">{{employee.salary | currency}}</span> - <span class="employer-name">{{employee.employer.name}}</span></li>
    </ul>
    <h4>Pagination</h4>
    <ul class="pagination">
      <li>
        pagination methods
        <ul>
          <li ng-click="employees.$prevPage()"><span>&#8592;</span> employees.$prevPage()</li>
          <li ng-click="employees.$nextPage()"><span>&#8594;</span> employees.$nextPage()</li>
          <li ng-click="employees.$more()"><span>+</span> employees.$more()</li>
        </ul>
      </li>
      <li>
        employees.$query
        <ul>
          <li>pageSize : <span class="query-page-size">{{employees.$query.pageSize}}</span></li>
          <li>start : <span class="query-page-start">{{employees.$query.start}}</span></li>
          <li>filter : <span class="query-page-filter">{{employees.$query.filter}}</span></li>
        </ul>
      </li>
      <li>employees.$totalCount : <span class="total-count">{{employees.$totalCount}}</span></li>
    </ul>
    <h4>Ordering</h4>
    <ul class="ordering">
      <p>Server : <input type="radio"></p>
    </ul>
  </div>
  <div class="error" ng-if="employees.length === 0">
    <p class="error">No employees found. You're database may be empty, please refill it - use the DB Manager above</p>
  </div>
</div>