<div class="view-e2e-tests-first-draft" ng-cloak>
  <h3>E2E Tests - First draft</h3>
  <div db-state init-async="false" init-collapsed="true" change-callback="init()"></div>
  <div>
    <h3>Employees list</h3>
    <ul class="employees-list">
      <li ng-repeat="employee in employees">
        <span class="last-name">{{employee.lastName}}</span>, <span class="first-name">{{employee.firstName}}</span>
        - <span class="salary">{{employee.salary | currency}}</span>
        - <span class="employer-name" title="Select this company" ng-click="selectCompany(employee.employer)">{{employee.employer.name}}</span>
        - <span class="edit-employee" title="Edit employee" ng-click="editEmployee(employee)">edit employee</span>
      </li>
    </ul>
    <h4>Infos</h4>
    <ul class="infos">
      <li>employees.$query
        <ul>
          <li>pageSize : <span class="query-page-size">{{employees.$query.pageSize}}</span></li>
          <li>start : <span class="query-page-start">{{employees.$query.start}}</span></li>
          <li>filter : <span class="query-page-filter">{{employees.$query.filter}}</span></li>
          <li>select : <span class="query-page-select">{{employees.$query.select}}</span></li>
        </ul>
      </li>
      <li>employees.$totalCount : <span class="total-count">{{employees.$totalCount}}</span></li>
    </ul>
    <h4>Pagination</h4>
    <ul class="pagination">
      <li>
        pagination methods
        <ul>
          <li ng-click="employees.$prevPage()"><span>&#8592;</span> employees.$prevPage()</li>
          <li ng-click="employees.$nextPage()"><span>&#8594;</span> employees.$nextPage()</li>
          <li ng-click="employees.$more()"><span>+</span> employees.$more()</li>
        </ul>
      </li>
    </ul>
    <h4>Ordering</h4>
    <ul class="ordering">
      <li>Order by (from server) : <select ng-model="wak.orderBy" ng-options="orderByOption.label for orderByOption in orderByOptions" ng-change="init()"></select></li>
    </ul>
    <h4>Filtering</h4>
    <ul class="filtering">
      <li>Type any filter on employees (like <code>lastName=tr*</code>) <input type="text" ng-model="filter" ng-keyup="applyFilter($event.keyCode)"></li>
    </ul>
    <h4>Manipulating data</h4>

    <div>
      <h3>Product list</h3>
      <ul class="products-list">
       <li ng-repeat="product in products">
         <span class="product-name">{{product.name}}</span>,
         <span class="product-myboolean">{{product.myBoolean}}</span>,
         <span class="product-spec-name">{{product.spec.name}}</span>,
         <span class="product-photo-uri">{{product.photo.uri}}</span>,
       </li>
      </ul>
    </div>

    <h5>Employee</h5>
    <form id="form-data-manipulation">
      <div class="form-group">
        <label for="input-employee-first-name">First Name</label>
        <input class="form-control" id="input-employee-first-name" placeholder="First name" ng-model="currentEmployee.firstName">
      </div>
      <div class="form-group">
        <label for="input-employee-last-name">Last name</label>
        <input class="form-control" id="input-employee-last-name" placeholder="Last name" ng-model="currentEmployee.lastName">
      </div>
      <button type="submit" class="btn btn-default" ng-click="saveEmployeeEdits()" ng-show="currentEmployee.firstName && currentEmployee.lastName" id="save-employee">Save</button>
    </form>
  </div>
  <div class="company" ng-show="company">
    <hr>
    <h3>Nested Company selected : <span class="company-name">{{company.name}}</span> - company.staff :</h3>
    <p ng-show="!company.staff.$isLoaded()" ng-click="company.staff.$fetch({pageSize:5})" class="load-nested-employees">Load employees of this company (lazy load)</p>
    <div ng-show="company.staff.$isLoaded()">
      <ul>
        <li ng-repeat="employee in company.staff"><span class="last-name">{{employee.lastName}}</span>, <span class="first-name">{{employee.firstName}}</span> - <span class="salary">{{employee.salary | currency}}</span></li>
      </ul>
      <h4>Infos</h4>
      <ul class="infos">
        <li>company.staff.$query
          <ul>
            <li>pageSize : <span class="query-page-size">{{company.staff.$query.pageSize}}</span></li>
            <li>start : <span class="query-page-start">{{company.staff.$query.start}}</span></li>
            <li>filter : <span class="query-page-filter">{{company.staff.$query.filter}}</span></li>
          </ul>
        </li>
        <li>company.staff.$totalCount : {{company.staff.$totalCount}}</li>
      </ul>
      <h4>Pagination</h4>
      <ul class="pagination">
        <li>
          pagination methods
          <ul>
            <li ng-click="company.staff.$prevPage()"><span>&#8592;</span> company.staff.$prevPage()</li>
            <li ng-click="company.staff.$nextPage()"><span>&#8594;</span> company.staff.$nextPage()</li>
            <li ng-click="company.staff.$more()"><span>+</span> company.staff.$more()</li>
          </ul>
        </li>
      </ul>
      <h4>Ordering / Filtering</h4>
      <p>Can't specify those on a nested collection (at least for the moment) it seems to be because we're on a subentity set that doesn't accept that kind of arguments - though you can order them front-end side :</p>
      <ul>
        <li>orderBy : <span ng-click="company.staff.$fetch({orderBy:'lastName asc'})"><code>company.staff.$fetch({orderBy:'lastName asc'})</code></span></li>
        <li>select : <span ng-click="company.staff.$fetch({select:'employer'})"><code>company.staff.$fetch({select:'employer'})</code></span></li>
        <li>filter</li>
      </ul>
    </div>
    <ul class="error">
      <li ng-show="nestedCompanyLoadingError">For the moment can't $fetch collection from a lazy load nested collection (arrays are not init)</li>
    </ul>
  </div>
  <div class="error" ng-if="employees.length === 0">
    <p class="error">
      No employees found.<br>
      If you're only filtering, that's ok.<br>
      Otherwise, your database may be empty, please refill it, using the DB Manager above.
    </p>
  </div>
</div>
