<div id="view-basics1" ng-cloak>
  <h3>Basics 1</h3>
  <ol>
    <li ng-click="findComp1()">$scope.comp1 = comp1 = ds.Company.$find({});</li>
    <li ng-click="dispComp1StaffInfos()">comp1[2].staff</li>
    <li ng-click="isLoadedComp1Staff()">comp1[2].staff.$isLoaded()</li>
    <li ng-click="fetchComp1Staff()">comp1[2].staff.$fetch()</li>
  </ol>
  <ol>
    <li ng-click="findComp2()">$scope.comp1 = comp1 = ds.Company.$find({select:'staff'});</li>
    <li ng-click="dispComp2StaffInfos()">comp1[15].staff</li>
    <li ng-click="isLoadedComp2Staff()">comp1[15].staff.$isLoaded()</li>
    <li ng-click="fetchComp2Staff()">comp1[15].staff.$fetch()</li>
    <li ng-click="moreComp2Staff()">comp1[15].staff.$more()</li>
  </ol>
</div>