<div class="view-basics2" ng-cloak>
  <h3>Basics 2</h3>
  <p>Here, we test the $fetch on nested collections</p>
  <p>Switch :</p>
  <ul>
    <li ng-click="findCompany()">ds.Company.$find()</li>
    <li ng-click="findCompany({select:'staff'})">ds.Company.$find({select:'staff'})</li>
  </ul>
  <p>Company list :</p>
  <ul>
    <li ng-repeat="company in companies" ng-class="{staffLoaded : company.staff.$isLoaded()}" ng-click="findStaffFromCompany(company)">{{company.ID}} - {{company.name}} - company.staff.length : {{company.staff.length}} - company.staff.$isLoaded() : {{company.staff.$isLoaded()}}</li>
  </ul>
  <p ng-show="currentCompany">Staff list for company <strong>{{currentCompany.name}}</strong> ({{currentCompany.staff.length}} loaded)</p>
  <ul>
    <li ng-repeat="employee in currentCompany.staff">{{employee.ID}} {{employee.firstName}} {{employee.lastName}}</li>
  </ul>
</div>
<style>
  .staffLoaded{
    font-weight: bold;
  }
</style>