<p>This is the collection.find view. <strong>This is only a mock for the moment</strong></p>
<p>Employee list1 <code>employees1</code> - total : {{employees1.$totalCount}} <span ng-click="employees1.$prevPage()">&lt;</span> <span ng-click="employees1.$nextPage()">&gt;</span></p>
<ul>
  <li ng-repeat="employee in employees1">{{employee.firstName}} {{employee.lastName}}</li>
</ul>
<p>Employee list2 <code>employees2</code> -> <code>employees1.$find()</code> - total : {{employees2.$totalCount}} <span ng-click="employees1.$prevPage()">&lt;</span> <span ng-click="employees2.$nextPage()">&gt;</span></p>
<ul>
  <li ng-repeat="employee in employees2">{{employee.firstName}} {{employee.lastName}}</li>
</ul>