<div id="view-connect1">
  <h3>Connect1</h3>
  <p>I made an angular service : <code>wakandaConnect1Service</code> (first draft), that can retrieve a WAF.DataStore object.</p>
  <h4>Infos feeded to the connector</h4>
  <ul>
    <li><label>Catalog : </label><input type="text" ng-model="catalog"></li>
    <li><label>forceReload : </label><input type="checkbox" ng-model="forceReload"></li>
  </ul>
  <h4>Actions to test the connector (watch your console to see the network)</h4>
  <ul>
    <li><button ng-click="getDs()">getDs</button></li>
    <li><button ng-click="getDsWithCallbacks()">getDsWith callbacks</button></li>
  </ul>
</div>