<div id="view-main">
    <div class="jumbotron">
        <h3>Welcome</h3>
        <p class="lead">
            <img src="images/logo-wakanda.png" alt="I'm Wakanda"><br>
            to Wakanda
        </p>
    </div>

    <div class="row marketing">
        <p>This is an angular website, originally scaffolded with the <a href="http://yeoman.io/gettingstarted.html" title="GETTING STARTED WITH YEOMAN">yeoman generator</a> for angular.</p>
        <h4>HTML5 Boilerplate</h4>
        <p>
            HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
        </p>

        <h4>Angular</h4>
        <p>
            AngularJS is a toolset for building the framework most suited to your application development.
        </p>

        <h4>Karma</h4>
        <p>Spectacular Test Runner for JavaScript.</p>
    </div>
</div>