<div class="view-main">
  <div class="jumbotron">
    <h3>Welcome</h3>
    <p class="lead">
      <img src="images/logo-wakanda.png" alt="I'm Wakanda"><br>
      to Wakanda
    </p>
  </div>

  <div class="row marketing">
    <p>This is an angular website, originally scaffolded with the <a href="http://yeoman.io/gettingstarted.html" title="GETTING STARTED WITH YEOMAN">yeoman generator</a> for angular.</p>
    <p>This website is part of the test workflow for the <strong>angular-wakanda-connector</strong> project</p>
    <p>You may have launched it via grunt, creating a node server and proxying rest requests through it to the wakanda server or directly form the wakanda server.</p>
    <div db-state></div>
  </div>
</div>