<div id="view-test2" ng-cloak>
  <h3>Test 3</h3>
  <p>Tests on fetching infos from an entityCollection</p>
  <h4>products from Product (total : {{products.$totalCount}}) <span ng-click="products.$prevPage()">&leftarrow;</span> <span ng-click="products.$nextPage()">&rightarrow;</span> <img src="./images/ajax-loader.gif" ng-show="products.$fetching"></h4>
  <ul>
    <li ng-repeat="product in products">{{product.name}}</li>
    <li ng-click="products.$more()">+++++++ more +++++++</li>
  </ul>
  <h4>employees from Employee (total : {{employees.$totalCount}}) <span ng-click="employees.$prevPage()">&leftarrow;</span> <span ng-click="employees.$nextPage()">&rightarrow;</span>  <img src="./images/ajax-loader.gif" ng-show="employees.$fetching"></h4>
  <ul>
    <li ng-repeat="employee in employees">{{employee.firstName}} {{employee.lastName}} / {{employee.employer.name}}</li>
    <li ng-click="employees.$more()">+++++++ more +++++++</li>
  </ul>
</div>