<style>
table {
  border: 1px solid #ddd;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: border-box;
}

tr {
  box-sizing: border-box;
  border-color: inherit;
  border: 1px solid #ddd;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

td {
  cursor: pointer;
}

img {
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

div button {
    margin-top: 15px;
    width: 80px;
}

</style>

<div class="container" ng-cloak>
    <h3>Test 8</h3>
    <p>Tests on parsing entity and collections returned by server methods</p>

    <h4>Single Entity</h4>
    <strong>Employee employer :</strong> {{employer}}<br />
    <strong>Saving wakEntity status:</strong> {{savingStatus}}


    <h4>Entity collection</h4>
    <div>
        <span ng-click="employees.$prevPage()">&leftarrow;</span>
        Employees
        <span ng-click="employees.$nextPage()">&rightarrow;</span>
        <img src="./images/ajax-loader.gif" ng-show="employees.$fetching">
    </div>
    <table>
        <tr>
            <th>firstName</th>
            <th>lastName</th>
        </tr>
        <tr ng-repeat="employee in employees">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
        </tr>
    </table>
</div>
